* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: hsl(13, 31%, 94%); */
    font-size: 16px;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  
}

.container {
    border: 2 solid black;
    background: hsl(13, 31%, 94%);
    max-width: 900px;
    margin: 40px auto;
    position: relative;
}

.inner-container {
    /* display: flex;
    flex-flow: column; */
    /* box-shadow:hsl(13, 93%, 44%); */
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    float: left;
    background: hsl(13, 31%, 94%);
}

.grid {
    /* flex-direction: row; */
    border: 1 solid black;
    /* background-color: rebeccapurple; */
    max-width: 80%;
    /* padding: 8px; */
    margin: 8px;
    font-weight: 600;
}

.grid img{
    width: 100%;
    border-radius: 4%;
}

button {
    border: 1px solid red;
    border-radius: 20px;
    padding: 4px;
}

button:hover {
    background: hsl(14, 86%, 42%);
    color: hsl(20, 50%, 98%);
    margin: auto;
}

.add img{
    width: 20%;
    height: 10%;
    position: relative;
    /* border: 1px solid hsl(14, 86%, 42%); */
    /* border-radius: 50%; */
    text-align: center;
    /* margin: auto; */
}

.add img:hover {
    display: none;

}

h3 {
   color: hsl(14, 65%, 9%);
}

p {
    color: hsl(12, 20%, 44%);
}

.price {
    color: hsl(14, 86%, 42%);
}

.cart {
    background: hsl(13, 88%, 48%);
    max-width: 300px;
    float: right;
    /* position: relative; */
    height: 300px;
}

.attribution {
    clear: both;
}