* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: hsl(13, 31%, 94%); */
}

.container {
    border: 2 solid black;
    background: hsl(13, 31%, 94%);
    max-width: 900px;
    margin: auto;
}

.inner-container {
    /* display: flex;
    flex-flow: column; */
    /* box-shadow:hsl(13, 93%, 44%); */
    border: 1px solid black;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    float: left;
    background: hsl(13, 31%, 94%);
}

.grid {
    /* flex-direction: row; */
    border: 1 solid black;
    background-color: rebeccapurple;
    max-width: 80%;
}

.grid img {
    width: 100%;
}

.cart {
    background: hsl(13, 31%, 94%);
}