* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(13, 31%, 94%);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1f));
    gap: 1rem;
}

.grid {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
}

grid img {
    order: -1;
    align-self: center;
}











